extends layout

block content
      .maincontent 
        h1 main catalogue   
        .grid-container
                each item in items
                    a.div(href='/item/'+item.id)
                        img.thumbnail(src=item.url, alt=item.title)
                        p #{item.title} #{item.composition} #{item.sleeve}

