extends layout
block navigation
      a(href='/catalogue') catalogue
      a(href='/upload') upload csv
      
              
block content

  .maincontent
       
        div.mainitem
        a.closeWindow(href='/catalogue') x
            each item in items  
                h1 #{item.title}    
                img(src=item.url ,alt=item.title)
                h2 #{item.composition} #{item.sleeve}
            
        div.recommandation 
            h2 you might like
            .grid-container
                each product in matchingItems
                    a.div(href='/item/'+product.id)
                        img.thumbnail(src=product.url ,alt=product.title)
                        p #{product.title}
